*,
::before,
::after {
	box-sizing: border-box;
}

/**********************************/
/* 0. Variáveis
/* 1. Estilos Gerais
/* 2. Navbar
/* 3. Hero
/* 4. Sobre Nós
/* 5. Diferenciais
/* 6. Pacotes
/* 7. Newsletter
/* 8. Galeria
/* 9. Footer
/* 10. Modal
/**********************************/

/**********************************/
/* 0. Variáveis
/**********************************/

:root {
	--ff-primary: "Cairo", sans-serif;
	
	--clr-background: 	#F5F5F5;
	--clr-white: 		#F1FCDE;
	--clr-black: 		#090E01;
	--clr-light-green: 	#DEF8AF;
	--clr-medium-green: #88CC11;
	--clr-dark-green: 	#456809;
	
	--spacing: 0.25rem;
	--transition: all 0.2s linear;
	--dark-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.2);
}

/**********************************/
/* 1. Estilos Gerais
/**********************************/

html {
	font-size: 62.5%;/* 1 rem = 16px, aqui to definindo que o tamanho basico e 10px que e 62.5% de 16, fazendo com que 1 rem equivalia a 10px e não 16 o padrão isso e pra facilicar e não ter que ficar convertendo a exemplo se eu quiser um padding de 42px em rem, basta dividir por 10, so mover a virgula uma casa pra esquerda 42px será igual a 4.2rem*/
}

body {
	font-family: var(--ff-primary);
	background-color: var(--clr-background);
}

a {
	text-decoration: none;
}

p {
	font-size: 1.6rem;
	line-height: 1.8;
}

section {
	min-width: 37rem;
	padding: 1.6rem;
}

/*alterna a cor das sections para criar contraste*/
section:nth-child(odd){
	background-color: var(--clr-light-green);
}

img {
	max-width: 100%;
	height: auto;
	display: block;/*tira as linhas branca entre as imagens na galeria*/
}

.section__titulo {
	font-size: 4.8rem;
	font-weight: 900;
	text-transform: uppercase;
	padding-top: 1.6rem;
	padding-bottom: 1.6rem;
	text-align: center;
}

.section__titulo--destaque {
	color: var(--clr-medium-green);
}

@media screen and (min-width:625px) {
	section:nth-child(odd){
		padding-top: 5.6rem;
		padding-bottom: 5.6rem;
	}
}


@media screen and (min-width: 1170px) {
	section {
		padding: 1.6rem calc((100% - 117rem - 1.6rem) / 2);
	}
}

/**********************************/
/* 2. Navbar
/**********************************/

.nav-bar {
	position: fixed;
	background-color: var(--clr-background);
	width: 100%;
	padding: 1.6rem;
	box-shadow: var(--dark-shadow); 
	z-index: 3;
}


.navbar-header {
	display: flex;
	justify-content: space-between;
}

.navbar-header__toggle {
	background-color: transparent; 
	border: transparent;
	font-size: 3.2rem;
	color: var(--clr-medium-green);
	cursor: pointer;
	transition: var(--transition);
}

/*criar um efeito de fazer o botão aumentar quando passar o mouse emcima*/
.navbar-header__toggle:hover {
	transform: scale(1.2);
}


/*pra ocultar o menu pra aparecer só quando clicar no hamburgue*/
.navbar-list {
	height: 0;
	overflow: hidden;/*mantera oculto os links se forem maior que a altura*/
	transition: var(--transition);
}

/*usando java script, ao clicar no icon bar eu modifico a altura fazendo com que os links sejam exibidos num menu*/
.navbar-list--show-links {
	height: 25rem;
}


.navbar-list__link {
	display: block;
	font-size: 1.6rem; 
	font-weight: 900;
	padding: 1.6rem;
	text-transform: capitalize; 
	color: var(--clr-black);
	transition: var(--transition);
}

/*ao passar o mouse emcima dos link eles ganha esta cor de fundo 
e os links se movem para esquerda como que animados*/
.navbar-list__link:hover {
	background-color: var(--clr-medium-green);
	padding-left: 3.6rem;
}

/*faz os icon das redes sociais não aparecerem*/
.navbar-icons {
	display: none;
}


@media screen and (min-width: 992px) {
	/*o botão bar some */
	.navbar-header__toggle {
		display: none;
	}

	/*os links aparecem e ficam lado a lado*/
	.navbar-list {
		height: auto;
		display: flex;
	}

	
	.nav-bar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: .8rem 1.6rem;
	}

	
	.navbar-list__link:hover {
		background: none;
		padding-left: 1.6rem;
		color: var(--clr-medium-green);
	}

	 /*fazer os icons das redes sociais aparecer*/
	.navbar-icons {
		display: flex;
	}

	.navbar-icons__icon {
		margin-right: 1.6rem;
		color: var(--clr-black);
		font-size: 1.8rem;
		font-weight: 900;
		transition: var(--transition);
	}

	.navbar-icons__icon:hover {
		color: var(--clr-medium-green);
	}
}

@media screen and (min-width:1170px){
	.nav-bar {
		padding: .8rem calc((100% - 117rem - 1.6rem) /2);
	}
}

/**********************************/
/* 3. Hero
/**********************************/

.hero {
	position: relative;
	min-height: 100vh;
	display: flex; 
	align-items: center;
}

.hero__video {
	position: absolute; 
	width: 100%;
	height: 100%;
	object-fit: cover; /*isos faz o video se adpatar independente do tamanho da viewport*/
	z-index: -1; 
}

.hero-texto {
	min-width: 37rem;
	padding: 1.6rem;
}

.hero-texto__titulo {
	font-size: 5.2rem;
	font-weight: 900;
	color: var(--clr-background);
	text-transform: uppercase;
}

.hero-texto__descricao {
	font-size: 2.4rem;
	font-weight: 600;
	color: var(--clr-background);
	max-width: 57rem;
	margin: 1rem 0;
}


.hero-texto__cta {
	display: block;
	font-size: 3.6rem;
	font-weight: 600;
	color: var(--clr-background);
	width: 27rem;
	text-align: center;
	background-color: var(--clr-medium-green);
	padding: 1.6rem;
	text-transform: uppercase;
	letter-spacing: .2rem 
	;
	transition: var(--transition);
}


.hero-texto__cta:hover {
	letter-spacing: .6rem;
}


@media screen and (min-width: 960px) {
	.hero-texto__titulo {
		font-size: 7.2rem;
	}

	.hero-texto__titulo--linha-2 {
		font-size: 6.4rem;
	}
}

@media screen and (min-width: 1170px){
	.hero-texto {
		padding: 1.6rem calc((100% - 117rem) / 2);
	}
}

/**********************************/
/* 4. Sobre Nós
/**********************************/

.sobre-texto {
	margin-top: 1.6rem;
}

.sobre-texto__titulo {
	font-size: 2.8rem;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 1.8rem;
}


@media screen and (min-width: 768px) {
	.sobre-c {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	.sobre-texto {
		flex: 6 1 1rem;
		margin-left: 1.5rem;
	}

	.sobre-c__img {
		flex: 1 1 1rem;
		margin-right: 1.5rem;
	}
}

@media screen and (min-width: 960px) {
	.sobre {
		height: 100vh;
	}
}

/**********************************/
/* 5. Diferenciais
/**********************************/

.diferenciais {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.diferencial + .diferencial {
	margin-top: 1.6rem;
}

.diferencial__titulo {
	font-size: 2.4rem;
	font-weight: 400;
	text-transform: uppercase;
	display: flex;
	align-items: center;
}

.diferencial__descricao {
	width: 28.8rem;
}


.diferencial__titulo::before {
	content: ""; 
	background-color: var(--clr-black);
	color: var(--clr-background); 
	padding: 1rem;
	margin-right: .8rem;
	font-family: "Font Awesome 5 Free"; 
	font-weight: 900;
	font-size: 3.6rem;
}

.diferencial__titulo--carteira::before{
	content: "\f555";
}

.diferencial__titulo--mapa::before{
	content: "\f5a0";
}

.diferencial__titulo--meias::before{
	content:" \f696";
}

@media screen and (min-width: 625px) {
	.diferenciais{
		justify-content: space-between;
	}

	.diferencial + .diferencial {
		margin-top: 0;
	}
}

/**********************************/
/* 6. Pacotes 
/**********************************/


.pacotes {
	display: flex;
	position: relative;
}

.pacotes::after{
	content: "→";
	position: absolute;
	font-size: 3.6rem;
	font-weight: 900;
	color: red;
	top: .5rem;
	right: 5.2rem;
	animation: arrow .5s  ease-in 0s infinite alternate;
	

}


@keyframes arrow{
	from{
		right: 5.2;
	}
	to {
		right: 3.2rem;
	}
}



.pacote {
	flex-shrink: 0;
	background-color: var(--clr-light-green);
	max-width: 37rem;
	cursor: pointer;
	box-shadow: var(--dark-shadow);
}


.pacote + .pacote {
	margin-left: 3rem;
}

.pacote__info {
	padding: 1.6rem;
}


.info-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.info-header__titulo{
	font-size: 2.4rem;
	font-weight: 600;
}


.info-body {
	margin: 1.6rem 0;
}

.info-footer {
	display: flex;
	font-size: 1.6rem;
	justify-content: space-between;
	align-items: center;
}

@media screen and (min-width:850px) {
	.pacotes {
		flex-wrap: wrap;
		justify-content: space-between;
		overflow: visible;
		padding-bottom: 3.2rem;
	}

	.pacote {
		transition: var(--transition);
	}

	.pacote:hover {
		transform: scale(1.02);
	}

	.pacotes::after{
		content: "";
	}
	
	.pacote + .pacote {
		margin: 0;
	}
	
	.pacote:nth-child(n + 3) {
		margin-top: 3rem;
	}
}

@media screen and (min-width: 1150px){.pacote:nth-child(3){
	margin-top: 0;
}

}
/********************************** /
/* 7. Newsletter
/********************************** /

.newsletter {
	background-color: var(--clr-medium-green);
}


.newsletter-c {
	padding: 4rem 0;
	
}

.newsletter-info__titulo {
	font-size: 2.8rem;
	font-weight: 600;
}

.newsletter-info__descricao {
	font-weight: 300;
	font-size: 2.4rem;
	line-height: 1.2;
	font-style: italic;
	margin: .8rem 0;
}

.newsletter-form {
	display: flex;
	flex-wrap: wrap;
}


.newsletter-form__input {
	flex: 3 1 37rem;
	font-size: 1.8rem;
	height: 6rem;
	color: var(--clr-black);
	border: none;
	padding: 1rem;
	border-radius: 0;
}

.newsletter-form__submit {
	flex: 1;
	background-color: var(--clr-medium-green);
	font-size: 3.6rem;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--clr-black);
	border: none;
	cursor: pointer;
	letter-spacing: .2rem;
	padding: 1.6rem;
	transition: var(--transition);
}

.newsletter-form__submit:hover {
	letter-spacing: .6rem;
}

@media screen and (min-width: 570px) {
	.newsletter-c {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

	}

	.newsletter-info, .newsletter-form {
		flex: 1 1 26rem;
	}
}


@media screen and (min-width: 960px) {
	.newsletter-form__input {
		flex: 1;
		height: auto;
		margin-right: 3rem;
	}
}
	
@media screen and (min-width: 1190px) {
	.newsletter-form__input {
		flex: 2;
	}
}
/**********************************/
/* 8. Galeria
/**********************************/

.galeria {
	padding: 0;
}

.galeria-item {
	position: relative;
	min-width: 17rem;
	cursor: pointer;
	overflow: hidden;

}

.galeria-item__tumb{
	transition: var(--transition);
}

.galeria-item::before {
	content: "";
	position: absolute;
	background-color: var(--clr-black);
	opacity: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: var(--transition);
}


.galeria-item__local {
	position: absolute;
	font-size: 2.4rem;
	font-weight: 600;
	left: 6.4rem;
	bottom: 3.2rem;
	color: var(--clr-background);
	opacity: 0;
	z-index: 2;
	transition: var(--transition);
}


.galeria-item:hover .galeria-item__thumb {
	transform: scale(1.2);
}

.galeria-item:hover .galeria-item__local {
	left: 3.2rem; 
	opacity: 1;
}


.galeria-item:hover.galeria-item::before{
	opacity: 0.7;
}

@media screen and (min-width: 768px) {
	.galeria{
		display: flex;
		flex-wrap: wrap;
	}

	.galeria-item {
		flex: 0 0 50%;
	}
}

@media screen and (min-width: 960px) {
	.galeria-item {
		flex: 0 0 25%;
	}
}
/**********************************/
/* 9. Footer
/**********************************/

.footer{
	background-color: var(--clr-dark-green);
	font-size: 1.6rem;
	font-weight: 900;
	text-align: center;
	text-transform: capitalize;
	padding: 7.2rem 0;
}

.footer-list, .footer-icons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.footer-list__link {
	color: var(--clr-background);
	padding: 1.6rem;
	transition: var(--transition);
}

.footer-list__link:hover {
	color: var(--clr-medium-green);
}

.footer-icons {
	margin: 3.2rem 0;
}

.footer-icons__icon {
	margin-right: 1.6rem;
	color: var(--clr-black);
	font-size: 2.8rem;
	transition: var(--transition);
}

.footer-icons__icon:hover {
	color: var(--clr-medium-green);
}

.date::after {
	content: "\a";
	white-space: pre;
}

.copyright {
	color: var(--clr-background);
}

@media screen and (min-width: 580px) {
	.footer {
		font-size: 1.6rem;
	}

	.date::after {
		content: "";
	}
}
/**********************************/
/* 10. Modal
/**********************************/

.modal {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.6);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	color: var(--clr-background);
	display: none;
	justify-content: center;
	align-items: center;
	padding: 1.6rem;
	z-index: 4;

}

.modal__close {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 2.4rem;
	padding: 1.6rem;
	cursor: pointer;
}

.slider {
	position: relative;
	display: flex;
}




.slider-image__number {
	position: absolute;
	background-color: var(--clr-black);
	font-size: 1.4rem;
	padding: .2rem;
	margin-left: .8rem;
	margin-top: .8rem;
}



.slider-buttons {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.slider-buttons__btn-prev, .slider-buttons__btn-next {
	font-size: 2.4rem;
	padding: 1.6rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	transition: var(--transition);
}

.slider-buttons__btn-prev:hover , .slider-buttons__btn-next:hover{
	color: var(--clr-medium-green);
}

.slider-image-description {
	background-color: var(--clr-black);
	text-align: center;
}

.slider-thumbs {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.slider-thumbs__img {
	position: relative;
	flex: 0 0 25%;
	cursor: pointer;
}

.slider-thumbs__img::before {
	content: "";
	position: absolute;
	background-color: var(--clr-black);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .7;
}

.slider-thumbs__img:hover.slider-thumbs__img::before{
	opacity: 0;
}


.slider-thumbs__img--active.slider-thumbs__img::before{
	opacity: 0;
}

@media screen and (min-width: 648px){
	.modal {
		padding: 5.6rem;
	}
}

@media screen and (min-width: 768px) {
	.modal{
		padding: 1.6rem;
	}

	.slider-thumbs__img {
		flex: 1;
		max-width: 10rem;
	}

}